<h2>File Upload</h2>
<!-- <h3><i>FormControl in a FormGroup</i></h3> -->
<!-- <form [formGroup]="uploadForm">
  <div class="form-group">
    <label class="center-block">Name:
      
      <input type="file" name="uploadFile" (change)="fileChange($event)" 
      placeholder="Upload file" accept=".pdf,.doc,.docx">
    </label>
  </div>
 <button type="submit"
            class="btn btn-success">Save</button> &nbsp;
</form> -->

<input id="cin" name="cin" type="file" (change)="fileChangeEvent($event)" placeholder="Upload a file..." multiple/>
<button type="button" class="btn btn-success btn-s" (click)="upload()">
    <i class="glyphicon glyphicon-open-file"></i>&nbsp;Upload
</button>
<!-- <p>Form value: {{ uploadForm.value | json }}</p>
<p>Form status: {{ uploadForm.status | json }}</p> -->